<template>
  <div class="page">
    <header>
      <p>{{ t('view.about.header') }}</p>
    </header>
    <section>
      <h2>{{ t('view.about.professional.header') }}</h2>
      <i18n-t
        keypath="view.about.professional.body"
        tag="p"
      >
        <template #alstom>
          <external-link
            href="https://www.alstom.com/"
            :title="t('company.alstom.homePageTitle')"
            cited
          >
            {{ t('company.alstom.name') }}
          </external-link>
        </template>
        <template #vue>
          <external-link
            href="https://vuejs.org/"
            :title="t('software.vue.homepageLinkTitle')"
            cited
          >
            {{ t('software.vue.name') }}
          </external-link>
        </template>
        <template #azure>
          <external-link
            href="https://azure.microsoft.com/"
            :title="t('software.azureCloud.homepageLinkTitle')"
            cited
          >
            {{ t('software.azureCloud.name') }}
          </external-link>
        </template>
        <template #java>
          <external-link
            href="https://www.java.com/"
            :title="t('software.java.homepageLinkTitle')"
            cited
          >
            {{ t('software.java.name') }}
          </external-link>
        </template>
        <template #springboot>
          <external-link
            href="https://spring.io/projects/spring-boot"
            :title="t('software.springBoot.homepageLinkTitle')"
            cited
          >
            {{ t('software.springBoot.name') }}
          </external-link>
        </template>
        <template #labview>
          <external-link
            href="https://www.ni.com/labview"
            :title="t('software.labView.homepageLinkTitle')"
            cited
          >
            {{ t('software.labView.name') }}
          </external-link>
        </template>
      </i18n-t>
    </section>
    <section>
      <h2>{{ t('view.about.personal.header') }}</h2>
      <i18n-t
        keypath="view.about.personal.body"
        tag="p"
      >
        <template #homeassistant>
          <external-link
            href="https://www.home-assistant.io/"
            :title="t('software.homeAssistant.homePageTitle')"
            cited
          >
            {{ t('software.homeAssistant.name') }}
          </external-link>
        </template>
        <template #kubernetes>
          <external-link
            href="https://kubernetes.io/"
            :title="t('software.kubernetes.homePageTitle')"
            cited
          >
            {{ t('software.kubernetes.name') }}
          </external-link>
        </template>
        <template #raspberrypi>
          <external-link
            href="https://www.raspberrypi.org/"
            :title="t('hardware.raspberryPi.homePageTitle')"
            cited
          >
            {{ t('hardware.raspberryPi.general.plural') }}
          </external-link>
        </template>
        <template #esp32>
          <external-link
            href="http://esp32.net/"
            :title="t('hardware.esp32.homePageTitle')"
            cited
          >
            {{ t('hardware.esp32.general.single') }}
          </external-link>
        </template>
      </i18n-t>
    </section>
    <section>
      <h2>{{ t('view.about.find.header') }}</h2>
      <i18n-t
        keypath="view.about.find.body"
        tag="p"
      >
        <template #gitlab>
          <external-link
            href="https://gitlab.com/CarbonCollins"
            :title="t('software.gitlab.profileLinkTitle')"
            cited
          >
            {{ t('software.gitlab.profileName') }}
          </external-link>
        </template>
        <template #npm>
          <external-link
            href="https://www.npmjs.com/~carboncollins"
            :title="t('software.npm.profileLinkTitle')"
            cited
          >
            {{ t('software.npm.profileName') }}
          </external-link>
        </template>
        <template #linkedin>
          <external-link
            href="https://www.linkedin.com/in/carboncollins/"
            :title="t('software.linkedIn.profileLinkTitle')"
            cited
          >
            {{ t('software.linkedIn.profileName') }}
          </external-link>
        </template>
      </i18n-t>
    </section>
  </div>
</template>

<script setup lang="ts">
import { useI18n } from 'vue-i18n';

import ExternalLink from '../components/ExternalLink.vue';

const { t } = useI18n();
</script>

<style scoped>
p {
  text-align: justify;
  text-align-last: center;
}
</style>
