<template>
  <div class="page">
    <Suspense v-if="postId">
        <BlogPost :post-id="postId"></BlogPost>
    </Suspense>
    <template v-else>
      <header>
        <p>{{ t('view.blog.header') }}</p>
      </header>
      <section>
        <h2>{{ t('view.blog.entries.header') }}</h2>
      </section>
    </template>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import { useI18n } from 'vue-i18n';
import { useRoute } from 'vue-router';

import BlogPost from '../components/BlogPost.vue';

const { t } = useI18n();
const route = useRoute();

const postId = computed<string | null>(() => {
  let id: string | null = null;
  if (Array.isArray(route.params.postId)) {
    id = route.params?.postId?.[0] ?? null;
  } else {
    id = route.params?.postId ?? null;
  }

  if (typeof id === 'string') return id;

  return null;
});
</script>
