<template>
  <div class="page projects">
    <header>
      <!-- <h1>{{ t('view.projects.name') }}</h1> -->
      <p>{{ t('view.projects.header') }}</p>
    </header>
    <section class="listing">
      <grid>
        <project-listing
          project-name="homelab"
          :display-name="t('project.homelab.name')"
          :description="t('project.homelab.description')"
        />
        <project-listing
          project-name="plattform33"
          :display-name="t('project.plattform33.name')"
          :description="t('project.plattform33.description')"
        />
        <project-listing
          project-name="break-glass"
          :display-name="t('project.breakGlass.name')"
          :description="t('project.breakGlass.description')"
        />
        <!-- <project-listing
          project-name="terminus-central"
          :display-name="t('project.terminusCentral.name')"
          :description="t('project.terminusCentral.description')"
        /> -->
      </grid>
    </section>
  </div>
</template>

<script setup lang="ts">
import { useI18n } from 'vue-i18n';

import ProjectListing from '../components/ProjectListing.vue';
import Grid from '../components/Grid.vue';

const { t } = useI18n();
</script>

<style scoped>
.projects {
  width: 100%;
}
</style>
