<template>
  <article
    id="plattform33ProjectPage"
    class="page"
    lang="en_GB"
  >
    <header>
      <h1 translate="no">
        Plattform33
      </h1>
      <tag-row>
        <tag
          v-for="pageTag in pageTags"
          :key="pageTag"
          :name="pageTag"
        />
      </tag-row>
    </header>
    <section>
      <h2>Aim</h2>
      <p>
        This web app will show users which platform to stand on, which door will stop closest to the exit upon their departure from the train, where on the platform to stand in order to use the bike friendly carriage etc. This project has been developed for hobbyist purposes and will thus use the GCP free tier during development and operation.
      </p>
    </section>
    <section>
      <h2>Status</h2>
      <p>
        This is an experimental project and currently in a pre-alpha state. As a project being developed in my free time for my own self-development, Plattform33 does not have a schedule for production and release. There is a live hosted version which can be accessed via the link: <external-link
          href="https://plattform33.se/"
          title="Plattform33 home page"
        >
          plattform33.se
        </external-link>
      </p>
    </section>
    <section>
      <h2>Description</h2>
      <p>
        This project is a continuation/re-implementation of an unfinished project which began while I still lived and worked in the <abbr title="United Kingdom">UK</abbr>. The goal of the original project was to know what platform I would need to be at before it was displayed on the tickers at the station so that I could avoid the initial rush once the platform was made public. It also had the intention of letting me know in advance if I was going to have any issues due to delays or cancelations. While living in Sweden, the original project has had less use for me, so I investigated the possibility of how something similar could be made for my commute to Malmö. In the process, I had the idea to alter the aim of the project to pinpoint a specific location on the platform to stand at.
      </p>
      <p>
        After initial planning, I began work on developing an <abbr title="Application Programming Interface">API</abbr> wrapper for the open API provided by <span
          lang="se-SE"
          translate="no"
        >Trafikverket</span>. This was done under the <cite>OpenRail SE</cite> project where the packaged code is available on the <external-link
          href="https://www.npmjs.com/org/openrailse"
          title="OpenRail SE organisation page on NPM"
        >
          NPM Organisation page
        </external-link>. Using this wrapper, I poll the API every minute and update the data in the project’s database allowing me to query data when the application needs it. It is possible to subscribe to push updates from <span
          lang="se-SE"
          translate="no"
        >Trafikverket</span>, however, this requires an instance to always be on in GCP which does not allow me to make use of the free tier. Instead, I poll using a Cloud Function called using Cloud Scheduler. At a later date if I need more frequent updates and I was willing to spend some money in operation costs, I could update the subscription method and receive updates as they are published by <span
          lang="se-SE"
          translate="no"
        >Trafikverket</span>. As an added limitation, I also drop the polling rate down to once every 5-10 mins during off-peak times (i.e. when I am at work or sleeping) as there is no need for more frequent updates while being developed.
      </p>
      <p>
        Once data has been stored in the <abbr title="Database">DB</abbr>, I can invoke more Cloud Functions to perform processes such as analysis to get statistics or generating short lived caches of query results. An example of one of these cloud functions is the search index generator. This runs when a new station is added from Trafikverket and will create a JSON file listing all of the available stations along with search indexing data which is then saved within a Bucket. The Frontend is able to download this index allowing the station search bar to operate swiftly on the clients device, saving limited DB calls.
      </p>
    </section>
    <section>
      <h2>Tech Stack</h2>
      <p>
        During the initial setup of this project, I decided to follow a microservice architecture hosted within <abbr title="Google Cloud Platform">GCP</abbr>. This was done for several reasons, mostly pertaining to learning and experimentation on my end.
      </p>
      <grid>
        <picture-grid-item
          name="Vue 3"
          description="Frontend framework"
          logo="vue"
        />
        <picture-grid-item
          name="Express"
          description="Backend framework"
          logo="express"
          has-dark
        />
        <picture-grid-item
          name="Node.JS"
          description="Backend language"
          logo="nodejs"
          has-dark
        />
        <picture-grid-item
          name="Google Cloud Platform"
          description="Cloud hosting"
          logo="gcp/gcp"
        />
        <picture-grid-item
          name="GitLab"
          description="Repository and CI/CD"
          logo="gitlab"
        />
        <picture-grid-item
          name="Docker"
          description="Local development"
          logo="docker"
        />
      </grid>
    </section>
    <section>
      <h2>Services Used</h2>
      <p>
        Some of the specific services and what they were used for within the project.
      </p>
      <grid>
        <picture-grid-item
          name="Trafikverket - Open API"
          description="Traffic information from the Swedish Transport Authority"
          logo="trafikverket"
        />
        <picture-grid-item
          name="GCP - App Engine"
          description="Fully managed serverless platform"
          logo="gcp/app-engine"
        />
        <picture-grid-item
          name="GCP - Cloud Functions"
          description="Functions as a Service"
          logo="gcp/cloud-functions"
        />
        <picture-grid-item
          name="GCP - Datastore"
          description="NoSQL Database"
          logo="gcp/datastore"
        />
        <picture-grid-item
          name="GCP - Cloud Storage"
          description="Bucket storage"
          logo="gcp/cloud-storage"
        />
        <picture-grid-item
          name="GCP - IAM"
          description="Identity and Access Management"
          logo="gcp/iam"
        />
        <picture-grid-item
          name="GCP - Stackdriver"
          description="Monitoring and Logging"
          logo="gcp/stackdriver"
        />
        <picture-grid-item
          name="GitLab CI/CD"
          description="Continuous Integration and Deployment"
          logo="gitlab"
        />
      </grid>
    </section>
    <section>
      <h2>Notes</h2>
      <p>
        I intend to further expand on this project in the future and potentially make the repositories publicly available. This will hopefully also include some architecture diagrams. Until a full release can be scheduled, feel free to contact me concerning the project, I love talking about my processes and am happy to answer any questions or queries.
      </p>
    </section>
    <section>
      <h2>External Links</h2>
      <grid id="extermal-links">
        <external-link
          href="https://plattform33.se"
          :hide-underline="true"
          title="Platform33"
        >
          <picture-grid-item
            name="Plattform33"
            description="The home page for Plattform33"
            logo="plattform33"
          />
        </external-link>
      </grid>
    </section>
  </article>
</template>

<script setup lang="ts">
import { usePageTags } from '../../../composables/usePageTags';

import TagRow from '../../../components/TagRow.vue';
import Tag from '../../../components/Tag.vue';
import ExternalLink from '../../../components/ExternalLink.vue';
import Grid from '../../../components/Grid.vue';
import PictureGridItem from '../../../components/PictureGridItem.vue';

const { pageTags } = usePageTags();
</script>

<style scoped>
p {
  text-align: justify;
}
</style>
