<template>
  <article
    id="breakGlassV5ProjectPage"
    class="page"
    :lang="locale"
  >
    <header>
      <h1>{{ t('header.title') }}</h1>
      <tag-row>
        <tag
          v-for="pageTag in pageTags"
          :key="pageTag"
          :name="pageTag"
        />
      </tag-row>
    </header>
    <section>
      <h2>{{ t('header.aim') }}</h2>
      <p>{{ t('section.aim') }}</p>
    </section>
    <section>
      <h2>{{ t('header.status') }}</h2>
      <p>{{ t('section.status') }}</p>
    </section>
    <section>
      <h2>{{ t('header.description') }}</h2>
      <p>{{ t('section.description') }}</p>
    </section>
    <!-- <section>
      <h2>{{ t('header.linkedProjects') }}</h2>
      <grid id="linkedProjects">
        <project-listing
          project-name="homelab"
          :display-name="t('project.homelab.name')"
          :description="t('project.homelab.description')"
        />
      </grid>
    </section> -->
    <section>
      <h2>{{ t('header.externalLinks') }}</h2>
      <grid id="external-links">
        <external-link
          href="https://gitlab.com/CarbonCollins/in-case-of-emergency-break-glass"
          :hide-underline="true"
          :title="t('breakGlass.title')"
        >
          <picture-grid-item
            :name="t('breakGlass.name')"
            :description="t('breakGlass.description')"
            logo="break-glass"
            :has-dark="true"
          />
        </external-link>
      </grid>
    </section>
  </article>
</template>

<script setup lang="ts">
import { useI18n } from 'vue-i18n';
import { usePageTags } from '../../../composables/usePageTags';

import TagRow from '../../../components/TagRow.vue';
import Tag from '../../../components/Tag.vue';
import ExternalLink from '../../../components/ExternalLink.vue';
import Grid from '../../../components/Grid.vue';
import PictureGridItem from '../../../components/PictureGridItem.vue';
// import ProjectListing from '../../../components/ProjectListing.vue';

const { t, locale } = useI18n({
  useScope: 'local',
  locale: 'en-GB',
  messages: {
    'en-GB': {
      header: {
        title: 'In case of emergency - Break Glass',
        aim: 'Aim',
        status: 'Status',
        description: 'Description',
        linkedProjects: 'Linked Projects',
        externalLinks: 'External Links'
      },
      section: {
        aim: 'A step by step guide to follow when decommission things after I am unable to do so anymore.',
        status: 'This guide is ongoing and should update as things progress.',
        description: 'A guide with steps on what to do in the case that I am no longer able to maintain or configure any fo the hardware and software set up at home. This guide is primarily aimed at simplifying the decommissioning process from the perspective of those I live with.'
      },
      breakGlass: {
        name: 'In case of emergency - Break Glass',
        description: 'GitLab repository containing the break glass guide',
        title: 'A link to the GitLab Break Glass guide'
      },
      project: {
        homelab: {
          name: 'Home Lab',
          description: 'A self hosted cloud for hosting services'
        }
      }
    }
  }
});

const { pageTags } = usePageTags();
</script>
