<template>
  <article
    id="homeLabV2ProjectPage"
    class="page"
    :lang="locale"
  >
    <header>
      <h1>{{ t('header.title') }}</h1>
      <tag-row>
        <tag
          v-for="pageTag in pageTags"
          :key="pageTag"
          :name="pageTag"
        />
      </tag-row>
      <version-selector />
    </header>
    <section>
      <h2>{{ t('common.header.aim') }}</h2>
      <p>{{ t('section.aim') }}</p>
    </section>
    <section>
      <h2>{{ t('common.header.status') }}</h2>
      <p>{{ t('section.status') }}</p>
    </section>
    <section>
      <h2>{{ t('common.header.description') }}</h2>
      <p>{{ t('section.description') }}</p>
    </section>
    <section>
      <h2>{{ t('common.header.techStack') }}</h2>
      <p>{{ t('section.techStack') }}</p>
      <grid>
        <picture-grid-item
          :name="t('software.proxmox.name')"
          :description="t('software.proxmox.description')"
          logo="proxmox"
          has-dark
        />
        <picture-grid-item
          :name="t('software.lxc.name')"
          :description="t('software.lxc.description')"
          logo="lxc"
        />
      </grid>
    </section>
    <section>
      <h2>{{ t('common.header.hardware') }}</h2>
      <p>{{ t('section.hardware') }}</p>
      <grid>
        <picture-grid-item
          :name="t('hardware.dell.inspiron580.single')"
          :description="t('hardware.dell.inspiron580.description')"
          logo="dell"
        />
        <picture-grid-item
          :name="t('hardware.raspberryPi.raspi2b.single')"
          :description="t('hardware.raspberryPi.raspi2b.description')"
          logo="raspberrypi"
        />
        <picture-grid-item
          :name="t('hardware.raspberryPi.raspi3bplus.single')"
          :description="t('hardware.raspberryPi.raspi3bplus.description')"
          logo="raspberrypi"
        />
        <picture-grid-item
          :name="t('hardware.apc.dla1500rm2u.single')"
          :description="t('hardware.apc.dla1500rm2u.description')"
          logo="apc"
        />
      </grid>
    </section>
    <section>
      <h2>{{ t('common.header.externalLinks') }}</h2>
      <grid id="extermal-links">
        <external-link
          href="https://www.proxmox.com/en/proxmox-virtual-environment/overview"
          hide-underline
          :title="t('software.proxmox.homepageLinkTitle')"
        >
          <picture-grid-item
            :name="t('software.proxmox.name')"
            :description="t('software.proxmox.homepageLinkTitle')"
            logo="proxmox"
            has-dark
          />
        </external-link>
        <external-link
          href="https://linuxcontainers.org/lxc/"
          hide-underline
          :title="t('software.lxc.productPageLinkTitle')"
        >
          <picture-grid-item
            :name="t('software.lxc.name')"
            :description="t('software.lxc.productPageLinkTitle')"
            logo="lxc"
          />
        </external-link>
      </grid>
    </section>
  </article>
</template>

<script setup lang="ts">
import { useI18n } from 'vue-i18n';
import { usePageTags } from '../../../composables/usePageTags';

import TagRow from '../../../components/TagRow.vue';
import Tag from '../../../components/Tag.vue';
import ExternalLink from '../../../components/ExternalLink.vue';
import Grid from '../../../components/Grid.vue';
import PictureGridItem from '../../../components/PictureGridItem.vue';
import VersionSelector from '../../../components/VersionSelector.vue';

import { language as enGbLanguage } from '../../../locales/enGB';

const { t, locale } = useI18n({
  locale: enGbLanguage,
  useScope: 'local',
  fallbackRoot: true,
  messages: {
    [enGbLanguage]: {
      header: {
        title: 'Home Lab'
      },
      section: {
        aim: 'A standalone Proxmox hypervisor for managing various VMs and LXC containers with the goal of removing bare metal configurations where possible.',
        status: 'Operated for several years and went through several versions of Proxmox. Initially most services were hosted in VMs and then were converted into LXC afterwards for simplification. It is now decommissioned and replaced after attempting to transition to a high availability cluster and suffering a hardware failure',
        description: 'This project is the 2nd iteration of my home lab setup with a focus on moving away from bare metal into virtualisation and containerisation. Initially all previous services from v1 were loaded into a VM and run through this and then over time each service was extracted into its own custom LXC image. this was a manual process and did not remove the need for manual configuration, however, it did add the ability to have snapshots and backups of the LXC images allowing for easier recovery upon failure. This only happened once or twice through the lifetime of v2.',
        techStack: 'This project primarily used Proxmox and LXC containers for the management and hosting of services within the home lab along with a lot of manual configuration in my head...',
        hardware: "The hardware during this was a collection of repurposed computers that I had previously been using as daily drivers and had since replaced with something else",
      }
    }
  }
});

const { pageTags } = usePageTags();
</script>

<style scoped>
section p {
  text-align: justify;
}
</style>
