<template>
  <article
    id="homeLabV1ProjectPage"
    class="page"
    :lang="locale"
  >
    <header>
      <h1>{{ t('header.title') }}</h1>
      <tag-row>
        <tag
          v-for="pageTag in pageTags"
          :key="pageTag"
          :name="pageTag"
        />
      </tag-row>
      <version-selector />
    </header>
    <section>
      <h2>{{ t('common.header.aim') }}</h2>
      <p>{{ t('section.aim') }}</p>
    </section>
    <section>
      <h2>{{ t('common.header.status') }}</h2>
      <p>{{ t('section.status') }}</p>
    </section>
    <section>
      <h2>{{ t('common.header.description') }}</h2>
      <p>{{ t('section.description') }}</p>
      <p>{{ t('section.serviceDescription') }}</p>
    </section>
    <section>
      <h2>{{ t('common.header.techStack') }}</h2>
      <p>{{ t('section.techStack') }}</p>
    </section>
    <section>
      <h2>{{ t('common.header.hardware') }}</h2>
      <p>{{ t('section.hardware') }}</p>
      <grid>
        <picture-grid-item
          :name="t('hardware.dell.inspiron580.single')"
          :description="t('hardware.dell.inspiron580.description')"
          logo="dell"
        />
        <picture-grid-item
          :name="t('hardware.raspberryPi.raspi2b.single')"
          :description="t('hardware.raspberryPi.raspi2b.description')"
          logo="raspberrypi"
        />
      </grid>
    </section>
  </article>
</template>

<script setup lang="ts">
import { useI18n } from 'vue-i18n';
import { usePageTags } from '../../../composables/usePageTags';

import TagRow from '../../../components/TagRow.vue';
import Tag from '../../../components/Tag.vue';
import Grid from '../../../components/Grid.vue';
import PictureGridItem from '../../../components/PictureGridItem.vue';
import VersionSelector from '../../../components/VersionSelector.vue';

import { language as enGbLanguage } from '../../../locales/enGB';

const { t, locale } = useI18n({
  locale: enGbLanguage,
  useScope: 'local',
  fallbackRoot: true,
  messages: {
    [enGbLanguage]: {
      header: {
        title: 'Home Lab'
      },
      section: {
        aim: 'Learn about how linux works and to host some local game servers for me and friends',
        status: 'Decommissioned and replaced after being convinced by a friend to try out Proxmox and virtualise my services',
        description: 'This is the beginnings of my adventures into a home lab and self hosting in which the first computer that I ever bought was converted into a server. This all began somewhere around 2011-2012 when I had purchased a new computer to do 3D rendering and CAD for school and I was left trying to figure out what to do with the old computer as I did not want to get rid of it... and thus a new server was born. This was the first time that I had touched any form of non-windows OS so was a large learning curve when getting started into this.',
        serviceDescription: 'Initially primary services that were running were game servers, mainly a vanilla and modded minecraft server for me and friends to play on. This remained its primary use case for several years while I was learning about linux and servers. It was around the time that Debian and Ubuntu decided to switch to Systemd (2015) where I had really started to ram up the amount of services running on the machine. This ended up with hosting my own website written in PHP which allowed my friends to request a game server to start up so that they can play on it and allowed the server to turn the server off when it was not in use. This made use of a companion Raspberry Pi to host  This website also had several other functions including media streaming where I had written my own streaming service before I discovered that Plex existed... ',
        techStack: 'This project mainly used Debian & Ubuntu as I switched back and fourth between the two. All configuration was manual and easily forgotten... ',
        hardware: "The hardware during this was the first computer I bought and repurposed into a server.",
      }
    }
  }
});

const { pageTags } = usePageTags();
</script>

<style scoped>
section p {
  text-align: justify;
}
</style>
