<template>
  <article
    id="homeLabV3ProjectPage"
    class="page"
    :lang="locale"
  >
    <header>
      <h1>{{ t('header.title') }}</h1>
      <tag-row>
        <tag
          v-for="pageTag in pageTags"
          :key="pageTag"
          :name="pageTag"
        />
      </tag-row>
      <version-selector />
    </header>
    <section>
      <h2>{{ t('common.header.aim') }}</h2>
      <p>{{ t('section.aim') }}</p>
    </section>
    <section>
      <h2>{{ t('common.header.status') }}</h2>
      <p>{{ t('section.status') }}</p>
    </section>
    <section>
      <h2>{{ t('common.header.description') }}</h2>
      <p>{{ t('section.description') }}</p>
      <i18n-t
        keypath="section.moreInfo"
        tag="p"
      >
        <template #terraform>
          <external-link
            href="https://www.terraform.io/"
            :title="t('software.terraform.homepageLinkTitle')"
            cited
          >
            {{ t('software.terraform.name') }}
          </external-link>
        </template>
        <template #raspberryPi>
          <external-link
            href="https://www.raspberrypi.org/"
            :title="t('hardware.raspberryPi.homepageLinkTitle')"
            cited
          >
            {{ t('hardware.raspberryPi.general.single') }}
          </external-link>
        </template>
      </i18n-t>
    </section>
    <section>
      <h2>{{ t('common.header.techStack') }}</h2>
      <p>{{ t('section.techStack') }}</p>
      <grid>
        <picture-grid-item
          :name="t('software.proxmox.name')"
          :description="t('software.proxmox.description')"
          logo="proxmox"
          has-dark
        />
        <picture-grid-item
          :name="t('software.lxc.name')"
          :description="t('software.lxc.description')"
          logo="lxc"
        />
        <picture-grid-item
          :name="t('software.terraform.name')"
          :description="t('software.terraform.description')"
          logo="hashicorp/terraform"
          has-dark
        />
      </grid>
    </section>
    <section>
      <h2>{{ t('common.header.hardware') }}</h2>
      <p>{{ t('section.hardware') }}</p>
      <grid>
        <picture-grid-item
          :name="t('hardware.dell.inspiron580.single')"
          :description="t('hardware.dell.inspiron580.description')"
          logo="dell"
        />
        <picture-grid-item
          :name="t('hardware.clevo.p17sm.single')"
          :description="t('hardware.clevo.p17sm.description')"
          logo="clevo"
        />
        <picture-grid-item
          :name="t('hardware.raspberryPi.raspi3bplus.single')"
          :description="t('hardware.raspberryPi.raspi3bplus.description')"
          logo="raspberrypi"
        />
        <picture-grid-item
          :name="t('hardware.apc.dla1500rm2u.single')"
          :description="t('hardware.apc.dla1500rm2u.description')"
          logo="apc"
        />
      </grid>
    </section>
    <section>
      <h2>{{ t('common.header.externalLinks') }}</h2>
      <grid id="extermal-links">
        <external-link
          href="https://www.proxmox.com/en/proxmox-virtual-environment/overview"
          hide-underline
          :title="t('software.proxmox.homepageLinkTitle')"
        >
          <picture-grid-item
            :name="t('software.proxmox.name')"
            :description="t('software.proxmox.homepageLinkTitle')"
            logo="proxmox"
            has-dark
          />
        </external-link>
        <external-link
          href="https://linuxcontainers.org/lxc/"
          hide-underline
          :title="t('software.lxc.productPageLinkTitle')"
        >
          <picture-grid-item
            :name="t('software.lxc.name')"
            :description="t('software.lxc.productPageLinkTitle')"
            logo="lxc"
          />
        </external-link>
        <external-link
          href="https://www.hashicorp.com/products/terraform"
          hide-underline
          :title="t('software.terraform.productPageLinkTitle')"
        >
          <picture-grid-item
            :name="t('software.terraform.name')"
            :description="t('software.terraform.productPageLinkTitle')"
            logo="hashicorp/terraform"
            has-dark
          />
        </external-link>
      </grid>
    </section>
  </article>
</template>

<script setup lang="ts">
import { useI18n } from 'vue-i18n';
import { usePageTags } from '../../../composables/usePageTags';

import TagRow from '../../../components/TagRow.vue';
import Tag from '../../../components/Tag.vue';
import ExternalLink from '../../../components/ExternalLink.vue';
import Grid from '../../../components/Grid.vue';
import PictureGridItem from '../../../components/PictureGridItem.vue';
import VersionSelector from '../../../components/VersionSelector.vue';

import { language as enGbLanguage } from '../../../locales/enGB';

const { t, locale } = useI18n({
  useScope: 'local',
  locale: enGbLanguage,
  fallbackRoot: true,
  messages: {
    [enGbLanguage]: {
      header: {
        title: 'Home Lab'
      },
      section: {
        aim: 'A highly available Proxmox cluster for managing many LXC containers with the goal of being tolerant to hardware failures.',
        status: 'Short lived and abandoned due to hardware failure and not doing enough research into supported architectures',
        description: 'This project is the 3rd iteration of my home lab setup with a focus on becoming highly available and resilient to local hardware failures. As you have probably read in the status, you can tell that this did not work... In this case I had started to get up Proxmox in HA mode by introducing one of my old laptops into the fold but within a week of looking into setting this up, my original server suffered a failure in both of its mirrored drives which effectively deleted all container data and configurations. Most of my persistent data was ok as these were stored on separate drives and I did have some backups of container images from a month prior but once this occurred I decided it was time to move away from Proxmox and try something different. After the failure I spent some time researching different clustering solutions as I wanted something a bit easier to work with than LXC containers and VMs especially due to some of the ones I was running having manual configurations applied to them which were lost in the failure.',
        moreInfo: 'For the most part the only real difference that this version had over v2 was the start of a HA setup, a round of testing of Proxmox ARM on a {raspberryPi}, and several half finished {terraform} configurations where I had begun to store my configurations as code.',
        techStack: 'This project primarily used Proxmox and LXC containers for the management and hosting of services within the home lab along with a lot of manual configuration in my head...',
        hardware: "The hardware during this was a collection of repurposed computers that I had previously been using as daily drivers and had since replaced with something else",
      }
    }
  }
});

const { pageTags } = usePageTags();
</script>

<style scoped>
p {
  text-align: justify;
}
</style>
