<template>
  <article
    id="homeLabProjectPage"
    class="page"
    :lang="locale"
  >
    <header>
      <h1>{{ t('header.title') }}</h1>
      <tag-row>
        <tag
          v-for="pageTag in pageTags"
          :key="pageTag"
          :name="pageTag"
        />
      </tag-row>
      <version-selector />
    </header>
    <section>
      <h2>{{ t('common.header.aim') }}</h2>
      <p>{{ t('section.aim') }}</p>
    </section>
    <section>
      <h2>{{ t('common.header.status') }}</h2>
      <p>{{ t('section.status') }}</p>
    </section>
    <section>
      <h2>{{ t('common.header.description') }}</h2>
      <p>{{ t('section.description') }}</p>
      <p>{{ t('section.moreInfo') }}</p>
    </section>
    <section>
      <h2>{{ t('common.header.techStack') }}</h2>
      <p>{{ t('section.techStack') }}</p>
      <grid>
        <picture-grid-item
          name="Consul"
          description="Service networking and service discovery"
          logo="hashicorp/consul"
          has-dark
        />
        <picture-grid-item
          name="Nomad"
          description="Workload orchestration"
          logo="hashicorp/nomad"
          has-dark
        />
        <picture-grid-item
          name="Vault"
          description="Secrets management"
          logo="hashicorp/vault"
          has-dark
        />
        <picture-grid-item
          name="Terraform"
          description="Infrastructure as code"
          logo="hashicorp/terraform"
          has-dark
        />
        <picture-grid-item
          name="Ansible"
          description="Infrastructure as code"
          logo="ansible"
          has-dark
        />
        <picture-grid-item
          name="Google Cloud Platform"
          description="Cloud hosting"
          logo="gcp/gcp"
        />
        <picture-grid-item
          name="Civo"
          description="Cloud hosting"
          logo="civo"
        />
        <picture-grid-item
          name="GitLab"
          description="Repository and CI/CD"
          logo="gitlab"
        />
        <picture-grid-item
          name="Cloudflare"
          description="Domain Name Server"
          logo="cloudflare"
          has-dark
        />
        <picture-grid-item
          name="Docker"
          description="Service Containerisation"
          logo="docker"
        />
      </grid>
    </section>
    <section>
      <h2>{{ t('common.header.hardware') }}</h2>
      <p>{{ t('section.hardware') }}</p>
      <grid>
        <picture-grid-item
          name="Dell Inspiron 580"
          description="x86-64 desktop repurposed as a server"
          logo="dell"
        />
        <picture-grid-item
          name="Clevo P17SM"
          description="x86-64 laptop repurposed as a server"
          logo="clevo"
        />
        <picture-grid-item
          name="Synology DS1618+"
          description="Network Attached Storage server"
          logo="synology"
          has-dark
        />
        <picture-grid-item
          :name="t('hardware.synology.ds918.single')"
          description="Network Attached Storage server"
          logo="synology"
          has-dark
        />
        <picture-grid-item
          :name="t('hardware.raspberryPi.raspi4b4gb.single')"
          description="ARM compute board (various versions)"
          logo="raspberrypi"
        />
        <picture-grid-item
          :name="t('hardware.ubiquiti.usgpro4.single')"
          :description="t('hardware.ubiquiti.usgpro4.description')"
          logo="ubiquiti"
          has-dark
        />
        <picture-grid-item
          :name="t('hardware.ubiquiti.usw24poe.single')"
          :description="t('hardware.ubiquiti.usw24poe.description')"
          logo="ubiquiti"
          has-dark
        />
        <picture-grid-item
          :name="t('hardware.ubiquiti.uapacpro.single')"
          :description="t('hardware.ubiquiti.uapacpro.description')"
          logo="ubiquiti"
          has-dark
        />
        <picture-grid-item
          :name="t('hardware.enoc.rack21u.single')"
          :description="t('hardware.enoc.rack21u.description')"
          logo="enoc"
        />
        <picture-grid-item
          :name="t('hardware.apc.srt3000xmi.single')"
          :description="t('hardware.apc.srt3000xmi.description')"
          logo="apc"
        />
        <picture-grid-item
          :name="t('hardware.apc.smt1000.single')"
          :description="t('hardware.apc.smt1000.description')"
          logo="apc"
        />
        <picture-grid-item
          :name="t('hardware.apc.dla1500rm2u.single')"
          :description="t('hardware.apc.dla1500rm2u.description')"
          logo="apc"
        />
      </grid>
    </section>
    <section>
      <h2>{{ t('common.header.linkedProjects') }}</h2>
      <i18n-t
        keypath="section.linkedProjects"
        tag="p"
      >
        <template #gitlabProject>
          <external-link
            href="https://gitlab.com/hq-smarthome/home-lab"
            title="GitLab group containing repositories for my Home Lab"
          >
            GitLab - hQ Home Lab Group
          </external-link>
        </template>
      </i18n-t>
      <grid />
    </section>
    <section>
      <h2>{{ t('common.header.externalLinks') }}</h2>
      <grid id="external-links">
        <external-link
          href="https://gitlab.com/hq-smarthome/home-lab"
          hide-underline
          title="GitLab group containing repositories for my Home Lab"
        >
          <picture-grid-item
            name="hQ Home Lab"
            description="The group page for hQ - Home Lab"
            logo="gitlab"
          />
        </external-link>
        <external-link
          href="https://www.hashicorp.com/products/consul"
          hide-underline
          title="HashiCorp Consul product page"
        >
          <picture-grid-item
            name="HashiCorp Consul"
            description="The product page for Hashicorp Consul"
            logo="hashicorp/consul"
            has-dark
          />
        </external-link>
        <external-link
          href="https://www.hashicorp.com/products/nomad"
          hide-underline
          title="HashiCorp Nomad product page"
        >
          <picture-grid-item
            name="HashiCorp Nomad"
            description="The product page for Hashicorp Nomad"
            logo="hashicorp/nomad"
            has-dark
          />
        </external-link>
        <external-link
          href="https://www.hashicorp.com/products/vault"
          hide-underline
          title="HashiCorp Vault product page"
        >
          <picture-grid-item
            name="HashiCorp Vault"
            description="The product page for Hashicorp Vault"
            logo="hashicorp/vault"
            has-dark
          />
        </external-link>
        <external-link
          href="https://www.hashicorp.com/products/terraform"
          hide-underline
          title="HashiCorp Terraform product page"
        >
          <picture-grid-item
            name="HashiCorp Terraform"
            description="The product page for Hashicorp Terraform"
            logo="hashicorp/terraform"
            has-dark
          />
        </external-link>
        <external-link
          href="https://www.ansible.com/"
          hide-underline
          title="RedHat Ansible product page"
        >
          <picture-grid-item
            name="Red Hat Ansible"
            description="The home page for Red Hat Ansible"
            logo="ansible"
            has-dark
          />
        </external-link>
      </grid>
    </section>
  </article>
</template>

<script setup lang="ts">
import { useI18n } from 'vue-i18n';
import { usePageTags } from '../../../composables/usePageTags';

import TagRow from '../../../components/TagRow.vue';
import Tag from '../../../components/Tag.vue';
import ExternalLink from '../../../components/ExternalLink.vue';
import Grid from '../../../components/Grid.vue';
import PictureGridItem from '../../../components/PictureGridItem.vue';
import VersionSelector from '../../../components/VersionSelector.vue';

import { language as enGbLanguage } from '../../../locales/enGB';

const { pageTags } = usePageTags();

const { t, locale } = useI18n({
  useScope: 'local',
  locale: enGbLanguage,
  fallbackRoot: true,
  messages: {
    [enGbLanguage]: {
      header: {
        title: 'Home lab'
      },
      section: {
        aim: 'A mostly self hosted "cloud" setup which supports multiple compute architectures distributed across servers running in my home and in public cloud providers. The ultimate goal is to remove any reliance on the underlying hardware or to abstract that away form other applications and services I want to have deployed.',
        status: 'No longer actively worked on as it has been replaced by v5 after moving house.',
        description: 'This project is the 4th iteration of my home lab setup with a focus on abstracting the hardware away from the hosted services and automation of all the things. The previous iteration of this setup used Proxmox, however, it had multiple problems pertaining to the maintenance of the 35+ LXC containers that were running on it and the not so fault tolerant setup I originally had deployed. I had previously been experimenting with Terraform & Packer to automate the creation and deployment of these LXC containers but the provider was not yet mature enough. The final straw which led to replacing the previous iteration was when one of the boot drives on one of my servers died, I decided, instead of trying to recover the data off of the SSD, to replace the whole setup with docker containers. I tried with Kubernetes and Docker Swarm but these were either a lot of work to setup and maintain or not very useful when having to work with multiple "datacenters" (as not all of my services are hosted on my home servers). They also required me to move everything in one go as everything had to be in a docker container. Nomad allowed me to not only manage and deploy docker containers, but also LXC and other various types of containerisation which allowed me to shift my existing LXC containers from Proxmox to Nomad then progressively convert my LXC containers to docker equivalents.',
        moreInfo: `With the decision to move to Nomad, I also looked into how I could automate everything. That way in the event that the hardware fails, or I need to do planned maintenance I could re-deploy without having to mess around too much in the CLI or remembering how I had set things up initially. This led me to also use some of HashiCorp's other products like: Consul (which allows me to automatically discover and link services together), Vault (for distributing application secrets), and Terraform (for infrastructure automation). I additionally began to use Ansible to automate the installation of software on my servers to keep with the automation theme.`,
        techStack: 'This project makes heavy use of the HashiCorp ecosystem to provide service discovery, workload orchestration, secrets management, and infrastructure deployment.',
        hardware: `Various pieces of hardware that I have gathered over the years is used within this setup including the first PC I ever bought! Many of my old daily driver machines have been converted into servers and the multitude of Raspberry Pi's are also in the mix too.`,
        linkedProjects: 'The home lab project is mainly focused on the infrastructure and not the services that will run on top of it. I unfortunately have not documented any of these services yet on this site, but you can see a public list of code on the {gitlabProject}'
      }
    }
  }
});
</script>

<style scoped>
p {
  text-align: justify;
}
</style>
