<template>
  <article
    id="homeLabV5ProjectPage"
    class="page"
    :lang="locale"
  >
    <header>
      <h1>{{ t('header.title') }}</h1>
      <tag-row>
        <tag
          v-for="pageTag in pageTags"
          :key="pageTag"
          :name="pageTag"
        />
      </tag-row>
      <version-selector />
    </header>
    <section>
      <h2>{{ t('common.header.aim') }}</h2>
      <p>{{ t('section.aim') }}</p>
    </section>
    <section>
      <h2>{{ t('common.header.status') }}</h2>
      <p>{{ t('section.status') }}</p>
    </section>
    <section>
      <h2>{{ t('common.header.description') }}</h2>
      <p>{{ t('section.description') }}</p>
      <i18n-t
        keypath="section.moreInfo"
        tag="p"
      >
        <template #linkedprojects>
          <a href="#linked-projects">{{ t('linkedProjects') }}</a>
        </template>
        <template #cccgitlabproject>
          <external-link
            href="https://gitlab.com/carboncollins-cloud"
            :title="t('gitlabProject.title')"
            cited
          >
            {{ t('gitlabProject.name') }}
          </external-link>
        </template>
      </i18n-t>
    </section>
    <section>
      <h2>{{ t('common.header.techStack') }}</h2>
      <p>{{ t('section.techStack') }}</p>
      <grid>
        <picture-grid-item
          name="Consul"
          description="Service networking and service discovery"
          logo="hashicorp/consul"
          has-dark
        />
        <picture-grid-item
          name="Nomad"
          description="Workload orchestration"
          logo="hashicorp/nomad"
          has-dark
        />
        <picture-grid-item
          name="Vault"
          description="Secrets management"
          logo="hashicorp/vault"
          has-dark
        />
        <picture-grid-item
          name="Terraform"
          description="Infrastructure as code"
          logo="hashicorp/terraform"
          has-dark
        />
        <picture-grid-item
          name="Ansible"
          description="Infrastructure as code"
          logo="ansible"
          has-dark
        />
        <picture-grid-item
          name="Google Cloud Platform"
          description="Cloud hosting"
          logo="gcp/gcp"
        />
        <picture-grid-item
          name="GitLab"
          description="Repository and CI/CD"
          logo="gitlab"
        />
        <picture-grid-item
          name="Cloudflare"
          description="Domain Name Server"
          logo="cloudflare"
          has-dark
        />
        <!-- <picture-grid-item
          name="Docker"
          description="Service Containerisation"
          logo="docker"
        /> -->
      </grid>
    </section>
    <section>
      <h2>{{ t('common.header.hardware') }}</h2>
      <p>{{ t('section.hardware') }}</p>
      <grid>
        <picture-grid-item
          :name="t('hardware.dell.inspiron580.single')"
          description="x86-64 desktop repurposed as a server"
          logo="dell"
        />
        <picture-grid-item
          :name="t('hardware.clevo.p17sm.single')"
          description="x86-64 laptop repurposed as a server"
          logo="clevo"
        />
        <picture-grid-item
          :name="t('hardware.synology.ds1618.single')"
          description="Network Attached Storage server"
          logo="synology"
          has-dark
        />
        <picture-grid-item
          :name="t('hardware.synology.ds918.single')"
          description="Network Attached Storage server"
          logo="synology"
          has-dark
        />
        <picture-grid-item
          :name="t('hardware.raspberryPi.raspi4b4gb.single')"
          description="ARM compute board (various versions)"
          logo="raspberrypi"
        />
        <picture-grid-item
          :name="t('hardware.ubiquiti.usgpro4.single')"
          :description="t('hardware.ubiquiti.usgpro4.description')"
          logo="ubiquiti"
          has-dark
        />
        <picture-grid-item
          :name="t('hardware.ubiquiti.usw24poe.single')"
          :description="t('hardware.ubiquiti.usw24poe.description')"
          logo="ubiquiti"
          has-dark
        />
        <picture-grid-item
          :name="t('hardware.ubiquiti.uapacpro.single')"
          :description="t('hardware.ubiquiti.uapacpro.description')"
          logo="ubiquiti"
          has-dark
        />
        <picture-grid-item
          :name="t('hardware.enoc.rack21u.single')"
          :description="t('hardware.enoc.rack21u.description')"
          logo="enoc"
        />
        <picture-grid-item
          :name="t('hardware.apc.srt3000xmi.single')"
          :description="t('hardware.apc.srt3000xmi.description')"
          logo="apc"
        />
        <picture-grid-item
          :name="t('hardware.apc.smt1000.single')"
          :description="t('hardware.apc.smt1000.description')"
          logo="apc"
        />
        <picture-grid-item
          :name="t('hardware.apc.dla1500rm2u.single')"
          :description="t('hardware.apc.dla1500rm2u.description')"
          logo="apc"
        />
      </grid>
    </section>
    <section>
      <h2><a name="linked-projects">{{ t('common.header.linkedProjects') }}</a></h2>
      <i18n-t
        keypath="section.linkedProjects"
        tag="p"
      >
        <template #cccgitlabproject>
          <external-link
            href="https://gitlab.com/carboncollins-cloud"
            :title="t('gitlabProject.title')"
            cited
          >
            {{ t('gitlabProject.name') }}
          </external-link>
        </template>
      </i18n-t>
      <grid />
    </section>
    <section>
      <h2>{{ t('common.header.externalLinks') }}</h2>
      <grid id="extermal-links">
        <external-link
          href="https://gitlab.com/carboncollins-cloud"
          hide-underline
          :title="t('gitlabProject.title')"
        >
          <picture-grid-item
            :name="t('gitlabProject.name')"
            description="The group page for CarbonCollins-Cloud"
            logo="gitlab"
          />
        </external-link>
        <external-link
          href="https://www.hashicorp.com/products/consul"
          hide-underline
          title="HashiCorp Consul product page"
        >
          <picture-grid-item
            name="HashiCorp Consul"
            description="The product page for Hashicorp Consul"
            logo="hashicorp/consul"
            has-dark
          />
        </external-link>
        <external-link
          href="https://www.hashicorp.com/products/nomad"
          hide-underline
          title="HashiCorp Nomad product page"
        >
          <picture-grid-item
            name="HashiCorp Nomad"
            description="The product page for Hashicorp Nomad"
            logo="hashicorp/nomad"
            has-dark
          />
        </external-link>
        <external-link
          href="https://www.hashicorp.com/products/vault"
          hide-underline
          title="HashiCorp Vault product page"
        >
          <picture-grid-item
            name="HashiCorp Vault"
            description="The product page for Hashicorp Vault"
            logo="hashicorp/vault"
            has-dark
          />
        </external-link>
        <external-link
          href="https://www.hashicorp.com/products/terraform"
          hide-underline
          title="HashiCorp Terraform product page"
        >
          <picture-grid-item
            name="HashiCorp Terraform"
            description="The product page for Hashicorp Terraform"
            logo="hashicorp/terraform"
            has-dark
          />
        </external-link>
        <external-link
          href="https://www.ansible.com/"
          hide-underline
          title="RedHat Ansible product page"
        >
          <picture-grid-item
            name="Red Hat Ansible"
            description="The home page for Red Hat Ansible"
            logo="ansible"
            has-dark
          />
        </external-link>
      </grid>
    </section>
  </article>
</template>

<script setup lang="ts">
import { useI18n } from 'vue-i18n';
import { usePageTags } from '../../../composables/usePageTags';

import TagRow from '../../../components/TagRow.vue';
import Tag from '../../../components/Tag.vue';
import ExternalLink from '../../../components/ExternalLink.vue';
import Grid from '../../../components/Grid.vue';
import PictureGridItem from '../../../components/PictureGridItem.vue';
import VersionSelector from '../../../components/VersionSelector.vue';

import { language as enGbLanguage } from '../../../locales/enGB';

const { t, locale } = useI18n({
  useScope: 'local',
  locale: enGbLanguage,
  fallbackRoot: true,
  messages: {
    [enGbLanguage]: {
      header: {
        title: 'Home Lab'
      },
      linkedProjects: 'Linked Projects',
      section: {
        aim: 'A mostly self hosted "cloud" setup which supports multiple compute architectures distributed across servers running in my home. The ultimate goal is to remove any reliance on remote cloud services and to be resilient against local faults',
        status: 'This has been abandoned and decommissioned due to various licensing changes and company buyouts',
        description: 'This project is in its 5th iteration of my home lab setup with a focus on abstracting the hardware away from the hosted services, having everything maintained and managed through Infrastructure as Code, and having no manual steps for maintenance and deployment. The additional aim of reducing manual interaction was taken from running v4 of this project which grew to having 50+ services running at its peak which meant there was a lot of manual operation for doing updates, maintenance, and monitoring. I found that moving house was a relatively good time to do this clean wipe as v4 would need decommissioning during the move anyway.',
        moreInfo: 'For more information on the services running in the v5 setup you can see the {linkedprojects} section below or checkout the {cccgitlabproject}.',
        techStack: 'This project makes heavy use of the HashiCorp ecosystem to provide service discovery, workload orchestration, secrets management, and infrastructure deployment.',
        hardware: "Various pieces of hardware that I have gathered over the years is used within this setup including the first PC I ever bought! Many of my old daily driver machines have been converted into servers and the multitude of Raspberry Pi's are also in the mix too.",
        linkedProjects: 'The home lab project is mainly focused on the infrastructure and not the services that will run on top of it. I unfortunately have not documented any of these services yet on this site, but you can see a public list of code on the {cccgitlabproject}.'
      },
      gitlabProject: {
        title: 'A link to the carboncollins-cloud GitLab project',
        name: 'GitLab - CarbonCollins-Cloud Group'
      }
    }
  }
});

const { pageTags } = usePageTags();
</script>

<style scoped>
p {
  text-align: justify;
}
</style>
