<template>
  <article :data-post-id="postId" :lang="postLangMeta">
    <img :src="`/blog/posts/${postId}.jpg`" width="100%" />
    <i18n-t keypath="view.blog.entries.title" tag="h1">
      <template #number>{{ postEntry }}</template>
      <template #title>{{ postTitle }}</template>
    </i18n-t>
    <p v-for="content in postContents">{{ content }}</p>
    <footer>
      <i18n-t keypath="view.blog.entries.postedBy" tag="i">
        <template #datetime>
          <time :datetime="postDateMeta.toISOString()">{{ d(postDateMeta, 'short') }}</time>
        </template>
        <template #author>{{ postAuthorMeta }}</template>
      </i18n-t>
    </footer>
  </article>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from 'vue';
import { useI18n } from 'vue-i18n';

interface Post {
  title: string;
  subTitle?: string;
  content: string[];
}

interface Meta {
  author: string;
  date: string;
  entry: number;
}

interface PostData {
  post: {
    [lang: string]: Post
  }
  meta: Meta
}

function isPost(value: unknown): value is Post {
  return (
    typeof value === 'object' &&
    value !== null &&

    'title' in value &&
    typeof value.title === 'string' &&

    'content' in value &&
    Array.isArray(value.content) &&
    value.content.every(entry => typeof entry === 'string')
  );
}

function isMeta(value: unknown): value is Meta {
  return (
    typeof value === 'object' &&
    value !== null &&
    'author' in value &&
    typeof value.author === 'string' &&
    'date' in value &&
    typeof value.date === 'string' &&
    'entry' in value &&
    typeof value.entry === 'number'
  )
}

function isPostData(value: unknown): value is PostData {
  return (
    typeof value === 'object' &&
    value !== null &&

    'post' in value &&
    typeof value.post === 'object' &&
    value.post !== null &&
    Object.entries(value.post).every(([lang, post]) => typeof lang === 'string' && isPost(post)) &&

    'meta' in value &&
    isMeta(value.meta)
  );
}

export default defineComponent({
  props: {
    postId: {
      type: String,
      required: true
    }
  },
  async setup(props) {
    const { locale, t, d } = useI18n();

    const postId = computed<string>(() => props.postId);
    const postEntry = ref<number>(0);

    const postTitle = ref<string>('');
    const postContents = ref<string[]>([]);

    const postLangs = ref<string[]>([]);
    const postLangMeta = ref<string>();
    const postAuthorMeta = ref<string>();
    const postDateMeta = ref<Date>(new Date());

    async function populatePostMeta(meta: Meta, lang: string): Promise<void> {
      postEntry.value = meta.entry;
      postLangMeta.value = lang;
      postAuthorMeta.value = meta.author;
      postDateMeta.value = new Date(meta.date);
    }

    async function populatePostData(post: Post): Promise<void> {
      postTitle.value = post.title;
      postContents.value = [...post.content];
    }

    async function loadPostData(id: string): Promise<void> {
      const response = await fetch(`/blog/posts/${id}.json`);

      if (!response.ok) throw new Error(`failed to get post data for id '${id}''`);

      const body = await response.json();
      if (!isPostData(body))
        throw new Error(`received post data is not in the correct format for id '${id}'`);

      postLangs.value = Object.keys(body.post);

      if (postLangs.value.includes(locale.value)) {
        await populatePostMeta(body.meta, locale.value);
        await populatePostData(body.post[locale.value]);
      } else {
        // not sure which to pick here...
        console.warn('unable to select locale');
      }
    }

    await loadPostData(props.postId);

    return {
      d,
      t,

      postId,
      postEntry,
      postTitle,
      postContents,
      postLangMeta,
      postDateMeta,
      postAuthorMeta
    }
  }
})

</script>

<style scoped>
img {
  object-fit: cover;
  width: 100%;
}
</style>
