<template>
  <cite v-if="cited">
    <a :href="href" rel="external noopener noreferrer" target="_blank" :title="title" :class="{ 'hide-underline': hideUnderline }">
      <slot />
    </a>
  </cite>
  <a v-else :href="href" rel="external noopener noreferrer" target="_blank" :title="title" :class="{ 'hide-underline': hideUnderline }">
    <slot />
  </a>
</template>

<script setup lang="ts">
export interface Props {
  cited?: boolean;
  hideUnderline?: boolean;
  href: string;
  title: string;
}

withDefaults(defineProps<Props>(), {
  type: false,
  hideUnderline: false
});

</script>

<style scoped>
a,
a:hover,
a:visited {
  text-decoration: underline;
}

a.hide-underline,
a.hide-underline:visited {
  text-decoration: none;
}

a.hide-underline:hover {
  text-decoration: underline;
}
</style>
