<template>
  <div class="grid">
    <slot />
  </div>
</template>

<script setup lang="ts"></script>

<style scoped>
.grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
</style>

<style>
.grid > * {
  margin: 0;
  flex-basis: 50%;
  width: 50%;
  max-width: 50%;
}

@media only screen and (max-width: 850px) {
  .grid > *  {
    flex-basis: 100%;
    width: 100%;
  }
}
</style>
