<template>
  <div class="grid-item-container">
    <div class="grid-item">
      <div class="image-container">
        <div class="logo" :style="{ 'background-image': logoSource }"></div>
      </div>
      <div class="details-stack">
        <h3>{{ name }}</h3>
        <p>{{ description }}</p>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue';

import { usePreferDarkMode } from '../composables/usePreferDarkMode';

export interface Props {
  name: string;
  description: string;
  logo: string;
  hasDark?: boolean
}

const props = withDefaults(defineProps<Props>(), {
  hasDark: false
});

const { prefersDarkMode } = usePreferDarkMode();

const logoSource = computed<string>(() => (props.hasDark && prefersDarkMode.value)
  ? `url(/logos/${props.logo}-dark.svg)`
  : `url(/logos/${props.logo}.svg)`);

</script>

<style>
.grid-item-container {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.5em;
}

.grid-item {
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  border-radius: 0.25em;
  border: 1px solid var(--border);
}

.details-stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding: 0.5em;
  height: 6em;
}

.details-stack > * {
  margin: 0.5em 0;
}

.image-container {
  flex-shrink: 0;
  flex-grow: 0;
  height: 6em;
  width: 6em;
  padding: 0.5em;
}

.logo {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
</style>
