<template>
  <router-link :to="{ name: projectName }" tag="a">
    <article :id="projectName">
      <header>
        <h2>{{ displayName }}</h2>
        <p>{{ description }}</p>
      </header>
    </article>
  </router-link>
</template>

<script setup lang="ts">
export interface Props {
  projectName: string;
  displayName: string;
  description: string;
}

defineProps<Props>();
</script>

<style scoped>
a,
a:hover,
a:visited {
  text-decoration: none;
}

article {
  padding: 0.5em;
}

header {
  border: 1px solid var(--background);
  border-radius: 0.25em;
  padding: 0 1em;
  transition-duration: var(--transition-time);
  transition-property: border;
  transition-timing-function: ease;
}

a:hover header {
  border: 1px solid var(--border);
}

p {
  text-align: justify;
  text-align-last: center;
}
</style>
