<template>
  <dt>
    <span>{{ name }}</span>
  </dt>
</template>

<script setup lang="ts">
export interface Props {
  name: string;
}

defineProps<Props>();
</script>

<style scoped>
dt {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 1.2em;
  line-height: 1.2em;
  font-size: 1em;
  border-radius: 0.5em;
  background: var(--border);
  padding: 0.1em 0.5em;
}
</style>
