<template>
  <dl class="tag-row">
    <slot />
  </dl>
</template>

<script setup lang="ts"></script>

<style>
.tag-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}

.tag-row > * {
  margin: 0.25em;
}

.tag-row > *:first-child {
  margin: 0 0.25em 0 0;
}

.tag-row > *:last-child {
  margin: 0 0 0 0.25em;
}
</style>
