<template>
  <li :class="{ active }">
    <router-link :to="{ name }" tag="a">
      <slot></slot>
    </router-link>
  </li>
</template>

<script setup lang="ts">
export interface Props {
  name: string;
  active?: boolean;
}

const { name, active } = withDefaults(defineProps<Props>(), {
  active: false
});
</script>

<style scoped>
li {
  list-style: none;
  list-style-position: inside;
  user-select: none;
}

li.active {
  background: var(--border);
}

li a {
  padding: 0.5em;
  cursor: pointer;
  display: block;
  text-decoration: none;
}
li a:hover {
  text-decoration: underline;
}
</style>
