<template>
  <nav
    v-if="knownProjectVersionRoutes.length > 1"
    class="version-selector"
    aria-label="Project Version Navigation"
  >
    <ol>
      <version-listing
        v-for="entry in knownProjectVersionRoutes"
        :key="entry.path"
        :name="entry.name"
        :active="entry.current"
      >
        {{ entry.version }}
      </version-listing>
    </ol>
  </nav>
</template>

<script setup lang="ts">
import { useProjectVersions } from '../composables/useProjectVersions';

import VersionListing from './VersionListing.vue';

const { knownProjectVersionRoutes } = useProjectVersions();
</script>

<style scoped>
.version-selector {
  display: inline-block;
}

ol {
  border: 1px solid var(--border);
  border-radius: 0.25em;
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-position: inside;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

ol > *:not(:last-child) {
  border-right: 1px solid var(--border);
}
</style>
