<template>
  <div class="container">
    <header :class="{ compressed: !isHomePage }">
      <router-link
        :to="{ name: 'home' }"
        tag="a"
      >
        <h1 class="thin">
          {{ t('common.name.full') }}
        </h1>
      </router-link> 
    </header>
    <nav
      :class="{ compressed: !isHomePage }"
      aria-label="Page Navigation"
    >
      <router-link
        :to="{ name: 'projects' }"
        tag="a"
        :title="t('view.projects.title')"
      >
        {{ t('view.projects.name') }}
      </router-link>
      <!-- <router-link :to="{ name: 'blog' }" tag="a">{{ t('view.blog.name') }}</router-link> -->
      <router-link
        :to="{ name: 'about' }"
        tag="a"
        :title="t('view.about.title')"
      >
        {{ t('view.about.name') }}
      </router-link>
      <external-link
        href="https://gitlab.com/CarbonCollins"
        :title="t('software.gitlab.profileLinkTitle')"
      >
        {{ t('software.gitlab.name') }}
      </external-link>
    </nav>
    <main :class="{ compressed: isHomePage }">
      <router-view v-slot="{ Component }">
        <transition
          name="fade"
          mode="out-in"
        >
          <component :is="Component" />
        </transition>
      </router-view>
    </main>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import { useRoute } from 'vue-router';
import { useI18n } from 'vue-i18n';

import ExternalLink from './components/ExternalLink.vue';

const { t } = useI18n();
const route = useRoute();
const isHomePage = computed<boolean>(() => route.name === 'home');
</script>

<style>
:root {
  --background: #eeeeee;
  --foreground: #2c3e50;
  --border: #cccccc;

  --transition-time: .3s;
}

* {
  box-sizing: border-box;
  color: inherit;
  background: inherit;
  position: relative;
}

svg .foreground {
  fill: var(--foreground);
}

svg .background {
  fill: var(--background);
}

html, body {
  margin: 0;
  padding: 0;
  color: var(--foreground);
  background: var(--background);
}

#app {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
  max-height: 100vh;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  animation: fadein 1.5s;
}

.thin {
  font-weight: 200;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #333333;
    --foreground: #eeeeee;
    --border: #666666;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
</style>
<style scoped>
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  width: 100%;
  min-height: 100%;
}

/* HEADER */
header {
  flex-shrink: 0;
}

header h1 {
  color: var(--foreground);
  font-size: 6em;
  white-space: nowrap;
  margin: 0.65em;
  transition-duration: var(--transition-time);
  transition-property: margin, font-size;
  transition-timing-function: ease;
}

header.compressed h1 {
  font-size: 4em;
  margin: 0.15em;
}

header a {
  display: inline-block;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

header a.router-link-active,
header a.router-link-active:hover {
  text-decoration: none;
  cursor: default;
}

@media only screen and (max-width: 850px) {
  header h1 {
    font-size: 3em;
  }

  header.compressed h1 {
    font-size: 3em;
  }
}

/* NAVIGATION */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
} 

nav a {
  margin: 0.5em;
  padding: 1em;
  font-size: 1.25em;
  transition: padding var(--transition-time) ease;
  display: inline-block;
  text-decoration: none;
}

nav a.router-link-active {
  text-decoration: underline;
}

nav.compressed a {
  padding: 0.5em;
}

nav a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 850px) {
  nav a {
    padding: 0.5em;
    font-size: 1em;
  }
}

/* MAIN */
main {
  width: 100%;
  max-width: 1250px;
  padding: 1em;
  flex-grow: 1;
  flex-shrink: 1;
  transition-duration: var(--transition-time);
  transition-property: flex-grow, padding;
  transition-timing-function: ease;
}

main.compressed {
  padding: 0;
  flex-grow: 0;
}

/* TRANSITIONS */
.fade-enter-active, .fade-leave-active {
  transition-duration: var(--transition-time);
  transition-property: opacity, height;
  transition-timing-function: ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  height: 0;
}
</style>
