<template>
  <article
    id="homeLabV1ProjectPage"
    class="page"
    :lang="locale"
  >
    <header>
      <h1>{{ t('header.title') }}</h1>
      <tag-row>
        <tag
          v-for="pageTag in pageTags"
          :key="pageTag"
          :name="pageTag"
        />
      </tag-row>
      <version-selector />
    </header>
  </article>
</template>

<script setup lang="ts">
import { useI18n } from 'vue-i18n';
import { usePageTags } from '../../../composables/usePageTags';

import TagRow from '../../../components/TagRow.vue';
import Tag from '../../../components/Tag.vue';
import VersionSelector from '../../../components/VersionSelector.vue';

import { language as enGbLanguage } from '../../../locales/enGB';

const { t, locale } = useI18n({
  locale: enGbLanguage,
  useScope: 'local',
  fallbackRoot: true,
  messages: {
    [enGbLanguage]: {
      header: {
        title: 'Terminus Central'
      }
    }
  }
});

const { pageTags } = usePageTags();
</script>

<style scoped>
section p {
  text-align: justify;
}
</style>
